<!DOCTYPE html>
<html>
<head>
  <title>RubyBlog</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Abel', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">My Ruby Blog</a></h1>
				<p>Learning Ruby on Rails</p>
			</div>
			<div id="menu">
            <ul class="main-nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Blog", posts_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Reservoir", reservoir_path %></li>
            </ul>
            </div>
		</div>
	</div>
<!-- end #header -->