<div id="sidebar">
					<div>
						<ul>
							<li>
								<div id="search" >
									<%= search_form_for @q do |f| %>
									  <%= f.search_field :title_or_body_cont %>
									
									  <%= f.submit %>
									<% end %>
								</div>
								<div style="clear: both;">&nbsp;</div>
							</li>
							<li>
								<h2>Get The Framework</h2>
								<p>You can download Ruby and/or Ruby on Rails for free right now
		                            <br />
		                            <a style="color:#D93544;" href="http://rubyonrails.org/download" target="blank">GET IT NOW</a>
	        					</p>
							</li>
							<li>
								<h2>Categories</h2>
								
								<ul>
							        <% if all_categories.each do |category| %>
							              <li><%= link_to category.cname, category %> &nbsp;&nbsp; (<%= category.posts.count %>)</li>
							        <% end.empty? %>
							            
							        <% end %>
							    </ul>
							</li>
							<li>
								<h2>Blogroll</h2>
								<ul>
							        <% if all_posts.last(10).each do |post| %>
							              <li><%= link_to post.title, post %></li>
							        <% end.empty? %>
							            
							        <% end %>
							    </ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- end #sidebar -->