<div class="post">
  <p id="notice"><%= notice %></p>
  <p>
    <h2><%= @user.name %></h2>
  </p>
  
  <h3>Blog Posts</h3>
								
	<ul>
      <% if @user.posts.each do |post| %>
            <li><%= link_to post.title, post %></li>
      <% end.empty? %>
          
      <% end %>
  </ul>
  
  <%= link_to 'Back', :back %>
</div>
<br>