  <% @posts.each do |post| %>
    <div class="post">
      <h2 class="title"><%= link_to post.title, post_path(post) %></h2>
      <div class="entry"><%= post.body %></div>
        <div class="byline">
        	<p class="meta">Last edit on <%= post.updated_at.strftime("%b %d, %Y") %>, posted by <%= link_to post.user.username, post.user %></p>
        	<p class="bylinelinks"><a href="post.html"><%= link_to 'Read more...', post_path(post) %></p>
        </div>
    </div>    
    <% end %>
    <div class="post">
      <div><%= paginate @posts %></div><br><br>
      <div><%= page_entries_info @posts %></div>
    </div>    
