<div class="post">
  <p>
    <h1>
    <strong><%= @post.title %></strong>
    </h1>
  </p>
  
  <p>
    <%= @post.body %>
  </p>
  
  
  <br>
    <div class="byline">
      <div class="meta">Category: <%= link_to @post.category.cname, category_path(:id => @post.category.id) %></div><br>
    	<div class="meta">Last edit on <%= @post.updated_at.strftime("%b %d, %Y") %>&nbsp-&nbsp  </div>
      <div class="meta"> posted by <%= link_to @post.user.username, user_path(:id => @post.user.id) %> </div>
      <div class="bylinelinks"><%= link_to 'Back', :back %></div><div class="bylinelinks"></div>
  	</div>
  	<br>
  	<hr>
    
    <h4><strong>Add a comment:</strong></h4>
    <br>
    <%= form_for @post_comment do |f| %>
      
      <%= f.hidden_field :post_id %>
      
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
    
      <p>
        <%= f.label :body %><br />
        <%= f.text_area :body %>
      </p>
    
      <p>
        <%= f.submit "Post Comment" %>
      </p>
      
    <% end %>
    <hr>
        <h4><strong>Comments by other users:</strong></h4>
    <br>
    <%= render :partial => "partials/post_comment", :collection => @post.post_comments %>
</div>


<br><br><br><br>