<div class="post">
    <h1>Listing Categories</h1>
    <ul>
        <% if @categories.each do |category| %>
              <li><%= link_to category.cname, category %></li>
        <% end.empty? %>
             <p></p>
        <% end %>
    </ul>
</div>