<% if @posts.each do |post| %>
<div class="post">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <div class="entry"><%= truncate post.body, length: 260 %></div>
    <div class="byline">
        <div class="meta"> posted by <%= link_to post.user.username, user_path(:id => post.user.id) %> </div>
        <p class="bylinelinks"><%= link_to 'Read more...', post_path(post) %></p>  
    </div>
</div>
<% end.empty?  %>
<div class="post">
    <p style="color:#ffffff;">Sorry, there are no posts in this category.</p>
</div>
<% end  %>
